In [654]:
import generatekdes
import datetime, time
import numpy as np
import pandas as pd
from scipy import stats
import os
import subprocess

In [655]:
states = 5
days = 10
samples =495
sp = np.genfromtxt(os.path.join('./sims1', 'constituents2.csv'), delimiter=',', dtype=None)
m=np.zeros(samples)
r=np.zeros(samples)
v=np.zeros(samples)
p=np.zeros(samples)
l=np.zeros(samples)
ml=np.zeros(samples)

In [656]:
tickers = sp[:,0]

In [657]:
t = tickers[0:samples]
print (t)

['MMM' 'ABT' 'ABBV' 'ACN' 'ATVI' 'AYI' 'ADBE' 'AAP' 'AES' 'AET' 'AMG' 'AFL'
 'A' 'APD' 'AKAM' 'ALK' 'ALB' 'AA' 'ALXN' 'ALLE' 'AGN' 'ADS' 'LNT' 'ALL'
 'GOOGL' 'GOOG' 'MO' 'AMZN' 'AEE' 'AAL' 'AEP' 'AXP' 'AIG' 'AMT' 'AWK' 'AMP'
 'ABC' 'AME' 'AMGN' 'APH' 'APC' 'ADI' 'ANTM' 'AON' 'APA' 'AIV' 'AAPL'
 'AMAT' 'ADM' 'AJG' 'AIZ' 'T' 'ADSK' 'ADP' 'AN' 'AZO' 'AVGO' 'AVB' 'AVY'
 'BHI' 'BLL' 'BAC' 'BCR' 'BAX' 'BBT' 'BDX' 'BBBY' 'BRK-B' 'BBY' 'BIIB'
 'BLK' 'HRB' 'BA' 'BWA' 'BXP' 'BSX' 'BMY' 'BF-B' 'CHRW' 'CA' 'COG' 'CPB'
 'COF' 'CAH' 'KMX' 'CCL' 'CAT' 'CBG' 'CBS' 'CELG' 'CNC' 'CNP' 'CTL' 'CERN'
 'CF' 'SCHW' 'CHK' 'CVX' 'CMG' 'CB' 'CHD' 'CI' 'XEC' 'CINF' 'CTAS' 'CSCO'
 'C' 'CFG' 'CTXS' 'CME' 'CMS' 'COH' 'CTSH' 'CL' 'CMCSA' 'CMA' 'CAG' 'CXO'
 'COP' 'ED' 'STZ' 'GLW' 'COST' 'CCI' 'CSX' 'CMI' 'CVS' 'DHI' 'DHR' 'DRI'
 'DVA' 'DE' 'DLPH' 'DAL' 'XRAY' 'DVN' 'DO' 'DLR' 'DFS' 'DISCA' 'DISCK' 'DG'
 'DLTR' 'D' 'DOV' 'DOW' 'DPS' 'DTE' 'DD' 'DUK' 'DNB' 'ETFC' 'EMN' 'ETN'
 'EBAY' 'ECL' 'EIX' 'EW' 'EA' 'EMC' 'EMR' 'ENDP' 'ETR' 'EOG' 'EQT' 'EFX'
 'EQIX' 'EQR' 'ESS' 'EL' 'ES' 'EXC' 'EXPE' 'EXPD' 'ESRX' 'EXR' 'XOM' 'FFIV'
 'FB' 'FAST' 'FRT' 'FDX' 'FIS' 'FITB' 'FSLR' 'FE' 'FISV' 'FLIR' 'FLS' 'FLR'
 'FMC' 'FTI' 'FL' 'F' 'FBHS' 'BEN' 'FCX' 'FTR' 'GPS' 'GRMN' 'GD' 'GE' 'GGP'
 'GIS' 'GM' 'GPC' 'GILD' 'GPN' 'GS' 'GT' 'GWW' 'HAL' 'HBI' 'HOG' 'HAR'
 'HRS' 'HIG' 'HAS' 'HCA' 'HCP' 'HP' 'HSIC' 'HES' 'HOLX' 'HD' 'HON' 'HRL'
 'HST' 'HPQ' 'HUM' 'HBAN' 'ITW' 'ILMN' 'IR' 'INTC' 'ICE' 'IBM' 'IP' 'IPG'
 'IFF' 'INTU' 'ISRG' 'IVZ' 'IRM' 'JBHT' 'JEC' 'JNJ' 'JCI' 'JPM' 'JNPR'
 'KSU' 'K' 'KEY' 'KMB' 'KIM' 'KMI' 'KLAC' 'KSS' 'KR' 'LB' 'LLL' 'LH' 'LRCX'
 'LM' 'LEG' 'LEN' 'LUK' 'LVLT' 'LLY' 'LNC' 'LLTC' 'LKQ' 'LMT' 'L' 'LOW'
 'LYB' 'MTB' 'MAC' 'M' 'MNK' 'MRO' 'MPC' 'MAR' 'MMC' 'MLM' 'MAS' 'MA' 'MAT'
 'MKC' 'MCD' 'MCK' 'MJN' 'MDT' 'MRK' 'MET' 'KORS' 'MCHP' 'MU' 'MSFT' 'MHK'
 'TAP' 'MDLZ' 'MON' 'MNST' 'MCO' 'MS' 'MSI' 'MUR' 'MYL' 'NDAQ' 'NOV' 'NAVI'
 'NTAP' 'NFLX' 'NWL' 'NFX' 'NEM' 'NWSA' 'NWS' 'NLSN' 'NKE' 'NI' 'NBL' 'JWN'
 'NSC' 'NTRS' 'NOC' 'NRG' 'NUE' 'NVDA' 'ORLY' 'OXY' 'OMC' 'OKE' 'ORCL' 'OI'
 'PCAR' 'PH' 'PDCO' 'PAYX' 'PNR' 'PBCT' 'PEP' 'PKI' 'PRGO' 'PFE' 'PCG' 'PM'
 'PSX' 'PNW' 'PXD' 'PBI' 'PNC' 'RL' 'PPG' 'PPL' 'PX' 'PCLN' 'PFG' 'PG'
 'PGR' 'PLD' 'PRU' 'PEG' 'PSA' 'PHM' 'PVH' 'QCOM' 'PWR' 'DGX' 'RRC' 'RTN'
 'O' 'RHT' 'REGN' 'RF' 'RSG' 'RAI' 'RHI' 'ROK' 'COL' 'ROP' 'ROST' 'RCL' 'R'
 'SPGI' 'CRM' 'SCG' 'SLB' 'SNI' 'STX' 'SEE' 'SRE' 'SHW' 'SIG' 'SPG' 'SWKS'
 'SLG' 'SJM' 'SNA' 'SO' 'LUV' 'SWN' 'SE' 'STJ' 'SWK' 'SPLS' 'SBUX' 'HOT'
 'STT' 'SRCL' 'SYK' 'STI' 'SYMC' 'SYF' 'SYY' 'TROW' 'TGT' 'TEL' 'TGNA'
 'TDC' 'TSO' 'TXN' 'TXT' 'BK' 'CLX' 'KO' 'HSY' 'MOS' 'TRV' 'DIS' 'TMO'
 'TIF' 'TWX' 'TJX' 'TMK' 'TSS' 'TSCO' 'TDG' 'RIG' 'TRIP' 'FOXA' 'FOX' 'TYC'
 'TSN' 'USB' 'UDR' 'ULTA' 'UA' 'UNP' 'UAL' 'UNH' 'UPS' 'URI' 'UTX' 'UHS'
 'UNM' 'URBN' 'VFC' 'VLO' 'VAR' 'VTR' 'VRSN' 'VRSK' 'VZ' 'VRTX' 'VIAB' 'V'
 'VNO' 'VMC' 'WMT' 'WBA' 'WM' 'WAT' 'WFC' 'HCN' 'WDC' 'WU' 'WY' 'WHR' 'WFM'
 'WMB' 'WEC' 'WYN' 'WYNN' 'XEL' 'XRX' 'XLNX' 'XL' 'XYL' 'YHOO' 'YUM' 'ZBH'
 'ZION' 'ZTS']

In [658]:
i=0
pd.options.display.float_format = '{:,.4f}'.format
for company in t:
    fname = company +"_"+ str(states) + "_" + str(days) + "_kdes.csv"
    dfrtmp = pd.read_csv(os.path.join('./sims1', fname))
    #print (dfrtmp)
    #print(dfrtmp.at[0,'E']) #MLS
    m[i] = dfrtmp.at[0,'E']
    #print(dfrtmp.at[1,'E']) #RAND
    r[i] = dfrtmp.at[1,'E']
    #print(dfrtmp.at[2,'E']) #MLS
    v[i] = dfrtmp.at[2,'E']
    #print(dfrtmp.at[3,'E']) #MLS
    p[i] = dfrtmp.at[3,'E']
    #print(dfrtmp.at[4,'E']) #MLS
    l[i] = dfrtmp.at[4,'E']
    #print(dfrtmp.at[5,'E']) #MLS
    ml[i] = dfrtmp.at[5,'E']
    i=i+1

In [659]:
dfr = pd.DataFrame({  #"MLS", "Rand","Vtr","Psd","Lls","Mlns
                    'MLS' : m,
                    'RAND' : r,
                    'VTR' : v,
                    'PSD' : p,
                    'LLS' : l,
                    'MLNS' : ml,        
                     })

In [660]:
dfr.tail(3)

       LLS   MLNS    MLS    PSD   RAND    VTR
492 0.0609 0.0801 0.0808 0.0786 0.0749 0.0823
493 0.0431 0.2263 0.2239 0.2060 0.1361 0.2242
494 0.1187 0.1655 0.1613 0.1192 0.1073 0.1618

In [661]:
dfr.describe()

           LLS     MLNS      MLS      PSD     RAND      VTR
count 495.0000 495.0000 495.0000 495.0000 495.0000 495.0000
mean    0.1647   0.1699   0.1760   0.1747   0.1708   0.1694
std     0.1922   0.1535   0.1568   0.1514   0.1405   0.1510
min     0.0000   0.0000   0.0000   0.0003   0.0004   0.0001
25%     0.0331   0.0836   0.0833   0.0857   0.0804   0.0839
50%     0.0974   0.1354   0.1411   0.1434   0.1361   0.1355
75%     0.2194   0.2084   0.2186   0.2137   0.2252   0.2082
max     1.4648   2.0857   2.0518   2.0173   1.3328   2.0393

In [662]:
d1 = dfr['MLS']
d2 = dfr['RAND']
d3 = dfr['LLS']

In [663]:
#z_stat, p_val = stats.ranksums(d1,d2)

In [664]:
#print (p_val)

In [665]:
p_val1 = stats.wilcoxon(d1,d2, zero_method='wilcox', correction=False)[1]
p_val2 = stats.wilcoxon(d1,d3, zero_method='wilcox', correction=False)[1]

In [666]:
print("P-value comparison between MLS and RAND: ", p_val1) # Used because data is paired ! :D
print("P-value comparison between MLS and LLS: ", p_val2)

('P-value comparison between MLS and RAND: ', 0.0037302572271222896)
('P-value comparison between MLS and LLS: ', 0.00081311349600215912)

In [667]:
filename = "Table_Comparison_" + str(states) + "_States_" + str(days) + "Days" + '.tex'

template = r'''\documentclass[preview]{{standalone}}
\usepackage{{booktabs}}
\begin{{document}}
{}
\end{{document}}
'''

with open(filename, 'wb') as f:
    f.write(template.format(dfr.describe().to_latex()))

subprocess.call(['pdflatex', filename])

0

In [668]:
dfr_pvalues =  pd.DataFrame({       
                    '': pd.Categorical(["MLS vs."]),
                    'RAND':p_val1,
                    'LLS':p_val2,
                    
                     }, index=['p-value'])
#'D':np.array([0] * 2,dtype='int32'),

In [669]:
dfr_pvalues

                    LLS   RAND
p-value  MLS vs. 0.0008 0.0037

In [670]:
filename = "Pvalues_Comparison_" + str(states) + "_States_" + str(days) + "Days" + '.tex'

template = r'''\documentclass[preview]{{standalone}}
\usepackage{{booktabs}}
\begin{{document}}
{}
\end{{document}}
'''

with open(filename, 'wb') as f:
    f.write(template.format(dfr_pvalues.describe().to_latex()))

subprocess.call(['pdflatex', filename])

0